<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <procedures>
    <procedure>
      <id>1</id>
      <code>Lokalna baza</code>
      <host>localhost</host>
      <user>admin</user>
      <password>admin</password>
      <name>db1</name>
    </procedure>
    <procedure>
      <code>baza 2</code>
      <id>2</id>
      <host>PCDSIBINSKI\MSSQL2012</host>
      <user>admin</user>
      <password>admin</password>
      <name>db2</name>
    </procedure>
  </procedures>
  <servers>
    <server>
      <id>1</id>
      <code>lokalny</code>
      <protocol>LOCAL</protocol>
      <ip>localhost</ip>
      <user></user>
      <password></password>
      <port></port>
    </server>
    <server>
      <id>2</id>
      <code>ftp</code>
      <protocol>FTP</protocol>
      <ip></ip>
      <user></user>
      <password></password>
      <port></port>
    </server>
  </servers>

  <targets>
    <target>
      <id>1</id>
      <code>Interface1_FTP</code>
      <serverId>1</serverId>
      <path>C:\Destiny</path>
    </target>

    <target>
      <id>2</id>
      <code>Interface1_Local</code>
      <serverId>2</serverId>
      <path>C:\Source</path>
    </target>
  </targets>

  <schedules>
    <schedule>
      <id>1</id>
      <interval>10000</interval>
      <daysOfWeek>0;1;2;3;4;5;6</daysOfWeek>
      <hours></hours>
      <code>schedule1</code>
    </schedule>
  </schedules>

  <watchers>
    <watcher>
      <id>1</id>
      <code>TestOperation</code>
      <procedureId>0</procedureId>
      <watcherRouting>
        <sourceTargetId>1</sourceTargetId>
        <destinationTargetId>2</destinationTargetId>
      </watcherRouting>
      <scheduleId>1</scheduleId>
      <fileNameRegex>*.txt</fileNameRegex>
    </watcher>

    <watcher>
      <id>2</id>
      <code>TestOperationBack</code>
      <procedureId>0</procedureId>
      <watcherRouting>
        <sourceTargetId>2</sourceTargetId>
        <destinationTargetId>1</destinationTargetId>
      </watcherRouting>
      <scheduleId>1</scheduleId>
      <fileNameRegex>*.txt</fileNameRegex>
    </watcher>

  </watchers>
</configuration>