<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <databases>
    <database>
      <id>1</id>
      <host>localhost</host>
      <user>admin</user>
      <password>admin</password>
    </database>
    <database>
      <id>2</id>
      <host>PCDSIBINSKI\MSSQL2012</host>
      <user>admin</user>
      <password>admin</password>
    </database>
  </databases>

  <servers>
    <server>
      <id>1</id>
      <protocol>FTP</protocol>
      <ip>ftp://localhost</ip>
      <user>admin</user>
      <password>admin</password>
      <port>22</port>
    </server>
    <server>
      <id>2</id>
      <protocol>Local</protocol>
      <ip></ip>
      <user></user>
      <password></password>
      <port></port>
    </server>
  </servers>

  <targets>
    <target>
      <id>1</id>
      <name>Interface1_FTP</name>
      <serverId>1</serverId>
      <path>/</path>
    </target>

    <target>
      <id>2</id>
      <name>Interface1_Local</name>
      <serverId>2</serverId>
      <path>C:\Source</path>
    </target>
  </targets>

  <schedules>
    <schedule>
      <id>1</id>
      <interval>10000</interval>
      <daysOfWeek>0;1;2;3;4;5;6</daysOfWeek>
      <hours>0758</hours>
    </schedule>
  </schedules>

  <watchers>
    <watcher>
      <id>1</id>
      <name>Interface1_FTP_Importer</name>
      <databaseId>1</databaseId>
      <watcherRouting>
        <sourceTargetId>2</sourceTargetId>
        <destinationTargetId>1</destinationTargetId>
      </watcherRouting>
      <scheduleId>1</scheduleId>
      <fileNameRegex>*.csv</fileNameRegex>
    </watcher>

    <!--<watcher>
      <id>2</id>
      <name>Interface1_FTP_Exporter</name>
      <databaseId>1</databaseId>
      <watcherRouting>
        <sourceTargetId>2</sourceTargetId>
        <destinationTargetId>1</destinationTargetId>
      </watcherRouting>
      <scheduleId>1</scheduleId>
      <fileNameRegex>*.csv</fileNameRegex>
    </watcher>-->

  </watchers>


</configuration>