<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <databases>
    <database>
      <code>db1</code>
      <host>localhost</host>
      <user>admin</user>
      <password>admin</password>
      <name>db1</name>
    </database>
    <database>
      <code>2</code>
      <host>PCDSIBINSKI\MSSQL2012</host>
      <user>admin</user>
      <password>admin</password>
      <name>db2</name>
    </database>
  </databases>
  <servers>
    <server>
      <code>1</code>
      <protocol>Local</protocol>
      <ip>localhost</ip>
      <user></user>
      <password></password>
      <port></port>
    </server>
    <server>
      <code>2</code>
      <protocol>Local</protocol>
      <ip></ip>
      <user></user>
      <password></password>
      <port></port>
    </server>
  </servers>

  <targets>
    <target>
      <code>Interface1_FTP</code>
      <server>1</server>
      <path>C:\Destiny</path>
    </target>

    <target>
      <code>Interface1_Local</code>
      <server>2</server>
      <path>C:\Source</path>
    </target>
  </targets>

  <schedules>
    <schedule>
      <interval>10000</interval>
      <daysOfWeek>0;1;2;3;4;5;6</daysOfWeek>
      <hours></hours>
      <code>schedule1</code>
    </schedule>
  </schedules>

  <watchers>
    <watcher>
      <code>TestOperation</code>
      <database>db1</database>
       <watcherRouting>
          <sourceTarget>Interface1_FTP</sourceTarget>
          <destinationTarget>Interface1_Local</destinationTarget>
      </watcherRouting>
      <schedule>schedule1</schedule>
      <fileNameRegex>*.txt</fileNameRegex>
    </watcher>

    <watcher>
      <code>TestOperationBack</code>
      <database>db1</database>
        <watcherRouting>
          <sourceTarget>Interface1_Local</sourceTarget>
          <destinationTarget>Interface1_FTP</destinationTarget>
        </watcherRouting>
      <watcherRouting>TestOperationBack</watcherRouting>
      <schedule>schedule1</schedule>
      <fileNameRegex>*.txt</fileNameRegex>
    </watcher>
  </watchers>
</configuration>